/* 
#Menu {
  height: auto; 
  width: auto; 
  
  z-index: 1; 
  top: 10px; 
  left: 10px;
  background-color: rgb(37, 48, 51); 
  /* overflow-x: hidden;  
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  flex-flow: row 
}

*/
 
.li div {
  padding: 12px 20px 12px 16px;
  font-size: 25px;
  color: #818181;
}
.li{
  display: block;
  text-decoration: none;  
}

.li on:hover {
  color: #f1f1f1;
} 
.content {
  margin: 10px;
  width: auto;
}

.content div{
  margin: 15px 30px;
}
.content #nav{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  background-color: black;
  border-radius: 05px;
}

.dashboard{
  flex-direction: column;
  align-Items: center
  /* align-content: */
}

.dashboard h1{
    /* padding: 0px 10px; */
  color: black;
  /* display: flex; */
  
}

